.mercado-contenedor {
    padding: 40px 20px;
    width: 100%;
    max-width: 1450px; 
    margin: 0 auto; /* Centrar en la pantalla */
    color: #ffffff;
    min-height: 80vh;
}

.mercado-contenedor h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #f0b90b;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    font-family: sans-serif;
}

/* --- Estilos de la Tabla --- */
.tabla-monedas {
    width: 100%;
    border-collapse: collapse; /* Elimina espacios entre bordes */
    background-color: rgba(19, 23, 34, 0.85); 
    border-radius: 12px; 
    overflow: hidden; /* Para que los bordes redondeados funcionen */
    box-shadow: 0 8px 16px rgba(0,0,0,0.3); 
}

/* Cabecera de la tabla */
.tabla-monedas thead {
    background-color: #1e2329;
    border-bottom: 2px solid #2b3139;
}

.tabla-monedas th {
    padding: 18px 15px;
    text-align: left;
    font-size: 0.9rem;
    color: #848e9c; 
    text-transform: uppercase;
    font-weight: 600;
}

/* Filas del cuerpo */
.tabla-monedas td {
    padding: 16px 15px;
    border-bottom: 1px solid #2b3139;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 500;
}

/* Efecto al pasar el mouse por encima */
.tabla-monedas tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: default;
}

/* Estilo para la celda del nombre e icono */
.nombre-moneda {
    padding: 0;
    align-items: center;
    gap: 12px;
    font-weight: bold;
    color: #eaecef;
}

.nombre-moneda img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* Colores para cambios de precio */
.positivo {
    color: #0ecb81; 
}

.negativo {
    color: #f6465d; 
}

/* Contenedor del título y buscador */
.header-mercado {
    font-size: clamp(24px, 3vw, 40px);
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items:left;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

/* Estilo del input */
.input-busqueda {
    font-size: 15px;
    font-weight: 100;
    padding: 10px 15px;
    border-radius: 8px;
    border: 0.2px solid #aeadad;
    width: 300px;
    outline: none;
    transition: border 0.3s;
}

.input-busqueda:focus {
    border-color: #ffea00;
}

/* Estilo del enlace de la moneda */
.link-cripto {
    display: flex;
    align-items: center;
    text-decoration: none; /* Quita el subrayado */
    color: inherit; /* Mantiene el color del texto de la tabla */
    font-weight: 600;
}

.link-cripto:hover {
    color: #f6ff00; 
}

@media (max-width: 768px) {
    .mercado-contenedor {
        padding: 20px 10px;
    }
    
    .tabla-monedas {
        display: block;
        overflow-x: auto; 
        white-space: nowrap;
    }
    
    .mercado-contenedor h2 {
        font-size: 1.8rem;
    }
}