@import "tailwindcss";

html, body, #root { min-height: 100%; }

body {
  margin: 0;
  padding-top: 100px;
  background: linear-gradient(
    to top,          /* empieza abajo y sube  */
    #dbbd63 0%,      
    #a38626 35%,     
    #2b2410 70%,     
    #000000 100%     
  );
  background-attachment: fixed; /* fija el bracgourd al hacer scroll*/
}